<.header>
  New Article
  <:subtitle>Use this form to manage article records in your database.</:subtitle>
</.header>

<.article_form changeset={@changeset} action={~p"/articles"} />

<.back navigate={~p"/articles"}>Back to articles</.back>
