<.header>
  Edit Article favorite <%= @article_favorite.id %>
  <:subtitle>Use this form to manage article_favorite records in your database.</:subtitle>
</.header>

<.article_favorite_form changeset={@changeset} action={~p"/article_favorites/#{@article_favorite}"} />

<.back navigate={~p"/article_favorites"}>Back to article_favorites</.back>
