<.header>
  Article tag <%= @article_tag.id %>
  <:subtitle>This is a article_tag record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/article_tags/#{@article_tag}/edit"}>
      <.button>Edit article_tag</.button>
    </.link>
  </:actions>
</.header>

<.list>
</.list>

<.back navigate={~p"/article_tags"}>Back to article_tags</.back>
